h1{
  color: red;
  font-style: italic;
  font-size: 2rem;
}
 body{
   background-color: bisque;
 }
 p{
   color: rgb(72, 117, 5);
   font-size: 25px;
   font-weight: bold;
   font-style: italic;
   letter-spacing: 3;
 }